@media only screen and (min-width: 1001px) {
  body {
    background-color: #E6F1FC;
    font-family: "Arial";
    font-size: 16px;
    text-align: center;
    color: #2C2D2D;
    width: 85%;
    margin-left: 7.5%;
  }

  header {
    font-size: 20px;
  }

  header a {
    text-decoration: none;
    color: #2C2D2D;
  }

  nav {
    width: 100%;
    font-size: 16px;
  }

  section {
    text-align: justify;
    height: 75%;
  }

  #meni {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    border: 1px solid #2C2D2D;
  }

  #meni a {
    text-decoration: none;
    color: #2C2D2D;
    padding: 5px;
    width: 100%;
  }

  #meni a:hover {
    color: #94C9EA;
    background-color: #2C2D2D;
    padding: 5.4px;
  }

  .telo1 a#pobarvan1,
  .telo2 a#pobarvan2,
  .telo3 a#pobarvan3,
  .telo4 a#pobarvan4,
  .telo5 a#pobarvan5 {
    color: #94C9EA;
    background-color: #2C2D2D;
    padding: 6px;
  }

  #meni li {
    margin: 15px;
    padding: 0px;
    display: inline;
  }

  #obstojeca_prijava {
    width: 45%;
    position: relative;
    text-align: center;
    float: left;

    border: 1px solid #2C2D2D;
    margin: 15px;
    margin-bottom: 100px;
    padding: 5px;

    background-color: #94C9EA;
  }

  #obstojeca_prijava_tabela {
    width: 100%;
    text-align: right;
  }

  #uporabnisko_ime_prijava {
    text-align: left;
    float: left;
  }

  #geslo_prijava {
    text-align: left;
    float: left;
  }

  #registracija_uporabnik {
    width: 45%;
    position: relative;
    text-align: center;
    float: right;

    border: 1px solid #2C2D2D;
    margin: 15px;
    padding: 5px;

    background-color: #94C9EA;
  }

  tbody {
    text-align: right;
  }

  #pogoji_registracija {
    text-align: center;
    float: left;
  }

  input {
    width: 150px;
    height: 23px;
    font-size: 13px;
  }

  #nagovor a {
    color: #2C2D2D;
  }

  .manjsiTekst {
    text-align: inherit;
    font-size: 14px;
  }

  .manjsiTekstFooter {
    /*margin: 50px;*/
    text-align: center;
    font-size: 10px;  
    clear: left;
    width: 100%; 
    margin-top: 150px;
  }

  #niZnamkeModela, #niDodanegaAvtomobila {
    font-size: 11px;
  }

  #tabelaIzbraniIzpis, #tabelaIzbraniIzpisStatistika, #vnos_podatkov_tabela_nov, #vnos_podatkov_tabela {
    text-align: center;
    font-size: 15px;
    width: 100%
  }

  .table th {
    font-size: 15px;
    text-align: center;
    /*width: 100%;*/
  }

  .table td {
    font-size: 15px;
    text-align: center;  
    /*width: 100%;*/
  }

  .izbiraVozilaBox {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    border: 1px solid #2C2D2D;
    text-align: center;
  }

  .izbiraVozilaBoxVnosPodatkov {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    border: 1px solid #2C2D2D;
    text-align: center;
    float: left;
  }

  .izbiraVozilaBoxVnosPodatkov table {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    text-align: center;
    float: left;
  }

  #izbira_obstojecega, #datepicker, #izbiraGoriva, #cena_goriva, #iztoceno_liter, #prevozeno_kilometrov, #opombe_kvadratek, #delovna_prostornina_statistika, #izbira_goriva_statistika, #izbiraStatistikaDiv, #dolzinaPoti, #cena_goriva, #letnik_izdelave_statistika {
    float: left;
    margin: 3px;
  }

  .logo {
    width: 55%;
  }

  .premikDesnoTabela {
    float: right;
    /*margin-right: 30px;*/
  }



}

@media only screen and (min-width: 1px) and (max-width: 1000px) {
  body {
    background-color: #E6F1FC;
    font-family: "Arial";
    font-size: 16px;
    text-align: center;
    color: #2C2D2D;
    width: 85%;
    margin-left: 7.5%;
  }

  header {
    font-size: 20px;
  }

  header a {
    text-decoration: none;
    color: #2C2D2D;
  }

  nav {
    width: 100%;
    font-size: 16px;
  }

  section {
    text-align: justify;
    height: 75%;
  }

  #meni {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    border: 1px solid #2C2D2D;
  }

  #meni a {
    text-decoration: none;
    color: #2C2D2D;
    padding: 5px;
    width: 100%;
  }

  #meni a:hover {
    color: #94C9EA;
    background-color: #2C2D2D;
    padding: 5.4px;
  }

  .telo1 a#pobarvan1,
  .telo2 a#pobarvan2,
  .telo3 a#pobarvan3,
  .telo4 a#pobarvan4,
  .telo5 a#pobarvan5 {
    color: #94C9EA;
    background-color: #2C2D2D;
    padding: 6px;
  }

  #meni li {
    margin: 15px;
    padding: 0px;
    display: inline;
  }

  #obstojeca_prijava {
    width: 45%;
    position: relative;
    text-align: center;
    float: left;

    border: 1px solid #2C2D2D;
    margin: 15px;
    margin-bottom: 100px;
    padding: 5px;

    background-color: #94C9EA;
  }

  #obstojeca_prijava_tabela {
    width: 100%;
    text-align: right;
  }

  #uporabnisko_ime_prijava {
    text-align: left;
    float: left;
  }

  #geslo_prijava {
    text-align: left;
    float: left;
  }

  #registracija_uporabnik {
    width: 45%;
    position: relative;
    text-align: center;
    float: right;

    border: 1px solid #2C2D2D;
    margin: 15px;
    padding: 5px;

    background-color: #94C9EA;
  }

  tbody {
    text-align: right;
  }

  #pogoji_registracija {
    text-align: center;
    float: left;
  }

  input {
    width: 150px;
    height: 23px;
    font-size: 13px;
  }

  #nagovor a {
    color: #2C2D2D;
  }

  .manjsiTekst {
    text-align: inherit;
    font-size: 14px;
  }

  .manjsiTekstFooter {
    /*margin: 50px;*/
    text-align: center;
    font-size: 10px;  
    clear: left;
    width: 100%; 
    margin-top: 150px;
  }

  #niZnamkeModela, #niDodanegaAvtomobila {
    font-size: 11px;
  }

  #tabelaIzbraniIzpis, #tabelaIzbraniIzpisStatistika, #vnos_podatkov_tabela_nov, #vnos_podatkov_tabela {
    text-align: center;
    font-size: 15px;
    width: 100%
  }

  .table th {
    font-size: 15px;
    text-align: center;
    /*width: 100%;*/
  }

  .table td {
    font-size: 15px;
    text-align: center;  
    /*width: 100%;*/
  }

  .izbiraVozilaBox {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    border: 1px solid #2C2D2D;
    text-align: center;
  }

  .izbiraVozilaBoxVnosPodatkov {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    border: 1px solid #2C2D2D;
    text-align: center;
    float: left;
  }

  .izbiraVozilaBoxVnosPodatkov table {
    margin: 0px;
    padding: 5px;
    width: 99%;
    background-color: #94C9EA;
    font-weight: bold;
    text-align: center;
    float: left;
  }

  #izbira_obstojecega, #datepicker, #izbiraGoriva, #cena_goriva, #iztoceno_liter, #prevozeno_kilometrov, #opombe_kvadratek, #delovna_prostornina_statistika, #izbira_goriva_statistika, #izbiraStatistikaDiv, #dolzinaPoti, #cena_goriva {
    float: left;
    margin: 3px;
  }

  .logo {
    width: 55%;
  }

  .premikDesnoTabela {
    float: right;
    /*margin-right: 30px;*/
  }

}
