<section class="izbiraVozila">
  <h4>V iskalniku vozil lahko za izbran avtomobil preverite vse vnose uporabnikov in pogledate njihove podatke.</h4>
  <div class="izbiraVozilaBox">
      <p class="manjsiTekst">Izberite znamko in model avtomobila.</p>
      <!--<form method="get" action="/carview">-->
      <select id="izbira_znamke" onclick="izbiraZnamke()" name="brand">
        <option value="0" selected>Izberite znamko avtomobila</option>
        <option value="Alfa">Alfa Romeo</option>
        <option value="Aston">Aston Martin</option>
        <option value="Audi">Audi</option>
        <option value="Bentley">Bentley</option>
        <option value="BMW">BMW</option>
        <option value="Cadillac">Cadillac</option>
        <option value="Chevrolet">Chevrolet</option>
        <option value="Chrysler">Chrysler</option>
        <option value="Citroen">Citroen</option>
        <option value="Dacia">Dacia</option>
        <option value="Daewoo">Daewoo</option>
        <option value="Daihatsu">Daihatsu</option>
        <option value="Dodge">Dodge</option>
        <option value="Ferrari">Ferrari</option>
        <option value="Fiat">Fiat</option>
        <option value="Ford">Ford</option>
        <option value="Honda">Honda</option>
        <option value="Hummer">Hummer</option>
        <option value="Hyundai">Hyundai</option>
        <option value="Jaguar">Jaguar</option>
        <option value="Jeep">Jeep</option>
        <option value="Kia">Kia</option>
        <option value="Lada">Lada</option>
        <option value="Lamborghini">Lamborghini</option>
        <option value="Lancia">Lancia</option>
        <option value="Land">Land Rover</option>
        <option value="Lexus">Lexus</option>
        <option value="Lotus">Lotus</option>
        <option value="Maserati">Maserati</option>
        <option value="Maybach">Maybach</option>
        <option value="Mazda">Mazda</option>
        <option value="Mercedes-benz">Mercedes-benz</option>
        <option value="Mini">Mini</option>
        <option value="Mitsubishi">Mitsubishi</option>
        <option value="Nissan">Nissan</option>
        <option value="Opel">Opel</option>
        <option value="Peugeot">Peugeot</option>
        <option value="Pontiac">Pontiac</option>
        <option value="Porsche">Porsche</option>
        <option value="Renault">Renault</option>
        <option value="Rolls">Rolls-royce</option>
        <option value="Rover">Rover</option>
        <option value="Saab">Saab</option>
        <option value="Seat">Seat</option>
        <option value="Smart">Smart</option>
        <option value="Subaru">Subaru</option>
        <option value="Suzuki">Suzuki</option>
        <option value="Škoda">Škoda</option>
        <option value="Toyota">Toyota</option>
        <option value="Trabant">Trabant</option>
        <option value="Volvo">Volvo</option>
        <option value="Volkswagen">Volkswagen</option>
        <option value="Wartburg">Wartburg</option>
        <option value="Zastava">Zastava</option>
      </select>
      <select id="izbira_modela" name="model">
        <option value="0">Izberite model</option>
      </select>

      <input type="submit" value="Išči" onclick="izpisiPodatke()"/>
      <!--</form>-->
  </div>

  <p class="manjsiTekst" id="niZnamkeModela">V kolikor vaše znamke oz. modela ni na seznamu nam to prosim sporočite na <a href="mailto:info@spremljajporabo.si">info@spremljajporabo.si</a>.</p>


<table class="table" id="tabelaIzbraniIzpis">
    <tr><td>
    <script>

      /*var xmlhttp = new XMLHttpRequest();
      var url = "/car";
      xmlhttp.open("GET", url, true);
      xmlhttp.setRequestHeader("Content-type", "application/json");
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
          var response = JSON.parse(xmlhttp.responseText);
          console.log(response);
        }
        else {
          console.log('readyState=' + xmlhttp.readyState + ', status: ' + xmlhttp.status);
        }
      };*/
      //xmlhttp.send(JSON.stringify(jsonObj));




        /*var url = window.location.href;     // Returns full URL
        //console.log(url);
        var parser = document.createElement('a');
        parser.href = url;

        var param = parser.search;
        var request = "http://localhost:1337/car"+param;
        //ta req je treba sprocesirat console.log(request);
        var rezultat = $.get("request");
        console.log("TO RABM: " + request);*/

        //npr toj dobim vn ?brand=2&model=DB

        /*parser.href = "http://example.com:3000/pathname/?search=test#hash";
        console.log()
        parser.protocol; // => "http:"
        parser.hostname; // => "example.com"
        parser.port;     // => "3000"
        parser.pathname; // => "/pathname/"
        parser.search;   // => "?search=test"
        parser.hash;     // => "#hash"
        parser.host;     // => "example.com:3000"*/
    </script>
    <td></tr>
</table>

</section>
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>
