<script>
$(document).ready(function() {

  /*$('#izbira_znamke').change(function(){
    izbiraZnamke();
  });*/

  narediIzracun();

});
</script>

<section class="izbiraVozila">
  <h4>S pomočjo kalkulatorja stroškov si lahko na hiter način izračunate stroške, ki jih boste za svojo pot porabili.</h4>
  <div class="izbiraVozilaBox" id="statistikaBox">
  <form method = "post" autocomplete = "on" id="vnos_podatkov_forma">

  <!--<p>Izberite avtomobil, za katerega želite izračunati stroške.</p>-->
    <!--<select name="izbira_avtomobila" id="izbiraAvtomobilaStatistika">
      <option value="0" selected>Izberi avtomobil</option>
      <option value="1">BMW M3 - letnik 2005</option>
    </select>-->
    <table class="table" id="vnos_podatkov_tabela">
      <tbody>
        <tr>
          <td class="premikDesnoTabela">Izberite avtomobil: </td>
          <td>
            <select id="izbira_obstojecega">
              <option value="0" selected>Izberite avtomobil</option>
              <option value="1">BMW M3 - letnik 2005</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="premikDesnoTabela">Vnesite dolžino vaše poti (v km): </td>
          <td><input type="text" id="dolzinaPoti" placeholder="Npr.: 130" /></td>
        </tr>
        <tr>
          <td class="premikDesnoTabela">Cena za liter goriva (v eur): </td>
          <td><input type="text" id="cena_goriva" placeholder="Npr.: 1.23"/></td>
        </tr>
      </tbody>
    </table>

    <input type="submit" value="Naredi izračun!" onclick="narediIzracun()"/>

  </form>
  </div>    

</section>
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>
