<!DOCTYPE html>
<html>
  <head>
    <!--<title>New Sails App</title>-->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->


    <title>Spremljaj porabo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/stil.css">
    <link rel="shortcut icon" type="image/png" href="img/avto.ico"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script>
      $(function () {
          $("#datepicker").datepicker();
          //user.email = "Prijavi se";
      });
    </script>
    <script src="js/skripta.js"></script>


  </head>

  <body>
    <header>
      <h1><a href="http://localhost:1337/"> <img src="img/porabaLogo.png" class="logo" alt="logo"></a></h1>
    </header>

    <nav>
      <ul id="meni">
        <li><a href="http://localhost:1337/" id="pobarvan1">Domov</a></li>
        <li><a href="http://localhost:1337/iskalnik_vozil" id="pobarvan2">Iskalnik vozil</a></li>
        <li><a href="http://localhost:1337/vnesi_podatke" id="pobarvan3">Vnesi podatke</a></li>
        <li><a href="http://localhost:1337/kalkulator_stroskov" id="pobarvan4">Kalkulator stroškov</a></li>
        <li><a href="http://localhost:1337/statistika" id="pobarvan5">Moja statistika</a></li>
        <!--<li><label id="uporabnik_prijavljen_meni"><a href="http://localhost:1337/prijava">Prijavi se<%- req.flash('prijavnoIme') %></a></label></li>-->

      </ul>
    </nav>

  
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/skripta.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
