<section>
  <div id="obstojeca_prijava">
    <h3>Obstoječi uporabnik</h3>
    <form method = "post" autocomplete = "on" id="obstojeca_prijava_forma" action="/login">
    <table id="obstojeca_prijava_tabela">
      <tbody>
        <tr>
          <td>E-pošta oz. e-mail: </td>
          <td><input type="email" id="uporabnisko_ime_prijava" name="email" placeholder="Vnesite uporabniško ime"/></td>
        </tr>
        <tr>
          <td>Geslo: </td>
          <td><input type="password" id="geslo_prijava" name="password" placeholder="Vnesite geslo"/></td>
        </tr>
      </tbody>
    </table>

    <p class="gumbi_prijava">
      <input type="submit" value="Prijava"/>
      <input type="reset" value="Ponastavi"/>
    </p>
    <p class="pozabljeno_geslo">
      <input type="button" value="Pozabljeno geslo"/>
    </p>
    </form>
  </div>

  <div id="registracija_uporabnik">
    <h3>Nov uporabnik</h3>
    <form method = "post" autocomplete = "on" id="registracija_uporabnik_forma" action="/user">
    <table id="registracija_uporabnik_tabela">
      <tbody>
        <tr>
          <td>Uporabniško ime: </td>
          <td><input type="text" name="username"id="uporabnisko_ime_registracija" placeholder="Vnesite uporabniško ime"/></td>
        </tr>
        <tr>
          <td>E-pošta oz. e-mail: </td>
          <!--<td><input type="text" name="email"id="eposta" placeholder="Vnesite e-poštni naslov"/></td>-->
          <td><input type="email" name="email" placeholder="Vnesite e-poštni naslov" required /></td>
        </tr>
        <tr>
          <td>Geslo: </td>
          <td><input name="password" type="password" id="geslo_registracija1" placeholder="Vnesite geslo"/></td>
        </tr>
        <tr>
          <td>Ponovitev gesla: </td>
          <td><input type="password" id="geslo_registracija2" placeholder="Ponovno vnesite geslo"/></td>
        </tr>
        <tr>
          <td>Prebral sem in strinjam se s pogoji uporabe: </td>
          <td><input type="checkbox" id="pogoji_registracija"/></td>
        </tr>
      </tbody>
    </table>

    <p class="gumbi_registracija">
      <input type="submit" value="Vpis"/>
      <input type="reset" value="Ponastavi"/>
    </p>
    </form>
  </div>

</section>
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>