<header>
	<h1><a href="http://localhost:1337/"> <img src="img/porabaLogo.png" class="logo" alt="logo"></a></h1>
</header>



<nav>
  <ul id="meni">
    <li><a href="http://localhost:1337/" id="pobarvan1">Domov</a></li>
    <li><a href="http://localhost:1337/iskalnik_vozil" id="pobarvan2">Iskalnik vozil</a></li>
    <li><a href="http://localhost:1337/vnesi_podatke" id="pobarvan3">Vnesi podatke</a></li>
    <li><a href="http://localhost:1337/kalkulator_stroskov" id="pobarvan4">Kalkulator stroškov</a></li>
    <li><a href="http://localhost:1337/statistika" id="pobarvan5">Moja statistika</a></li>
    <li><label id="uporabnik_prijavljen_meni"><a href="http://localhost:1337/prijava">Pozdravljen, Gost!</a></label></li>
  </ul>
</nav>

<section>
<p><%- req.flash('potrebna_prijava') %></p>
</section>
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>    
