<section>
  <h3>Dobrodošli!</h3>
  <p class="manjsiTekst">Obiskali ste spletno stran, ki vam omogoča beleženje porabe vašega avtomobila. Ogledate si lahko vašo celotno statistiko in zgodovino ter nad podlagi teh podatkov izračunate stroške, ki jih boste za določeno pot porabili. Na vpogled imate vse podatke o ostalih uporabnikih in ostalih vozilih, ki jih le-ti vozijo. 
</section>
<!-- IZBRISANO ZGORAJ Na vse možne vnose je mogoče podati komentar. Nekatere izmed zgoraj naštetih funkcij so omogočene zgolj, če ste v samo aplikacijo prijavljeni. <a href="http://localhost:1337/prijava">Registracija</a> je popolnoma brezplačna.</p>-->
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>    
