<script>
$(document).ready(function() {

  $('#izbira_znamke').change(function(){
    izbiraZnamke();
  });

  izpisiPodatkeStatistika();

});
</script>
<section class="izbiraVozila">
  <h4>Pregled statistike.</h4>
  <form method = "post" autocomplete = "on" id="vnos_podatkov_forma">
  <div class="izbiraVozilaBox" id="statistikaBox">
  

  <p>Izberite avtomobil, za katerega želite izpisati statistiko.</p>
    <select name="izbira_avtomobila" id="izbiraAvtomobilaStatistika" onclick="izpisiPodatkeStatistika()">
      <option value="0" selected>Izberite avtomobil</option>
      <option value="1">BMW M3 - letnik 2005</option>
    </select>

    <input type="button" value="Izpiši statistiko!" onclick="izpisiPodatkeStatistikaZaAvto()"/>
  
  </div>

  <!--<p>Zapisi o vašem avtomobilu v naši podatkovni bazi so naslednji:</p>-->
  <table class="table" id="tabelaIzbraniIzpis">
    <tr><td><td></tr>
  </table>
  <br>
  <br>


  
  <p>Želite v svoj profil dodati nov avtomobil?<p>
  <div class="izbiraVozilaBox">
    <table id="vnos_podatkov_tabela_nov">
      <tbody>
        <tr>
          <td>
            Izberite znamko in model avtomobila: 
          </td>  
          <td>
            <div id="izbiraStatistikaDiv">
            <select id="izbira_znamke" onclick="izbiraZnamke()" name="brand">
              <option value="0" selected>Izberite znamko avtomobila</option>
              <option value="Alfa">Alfa Romeo</option>
              <option value="Aston">Aston Martin</option>
              <option value="Audi">Audi</option>
              <option value="Bentley">Bentley</option>
              <option value="BMW">BMW</option>
              <option value="Cadillac">Cadillac</option>
              <option value="Chevrolet">Chevrolet</option>
              <option value="Chrysler">Chrysler</option>
              <option value="Citroen">Citroen</option>
              <option value="Dacia">Dacia</option>
              <option value="Daewoo">Daewoo</option>
              <option value="Daihatsu">Daihatsu</option>
              <option value="Dodge">Dodge</option>
              <option value="Ferrari">Ferrari</option>
              <option value="Fiat">Fiat</option>
              <option value="Ford">Ford</option>
              <option value="Honda">Honda</option>
              <option value="Hummer">Hummer</option>
              <option value="Hyundai">Hyundai</option>
              <option value="Jaguar">Jaguar</option>
              <option value="Jeep">Jeep</option>
              <option value="Kia">Kia</option>
              <option value="Lada">Lada</option>
              <option value="Lamborghini">Lamborghini</option>
              <option value="Lancia">Lancia</option>
              <option value="Land">Land Rover</option>
              <option value="Lexus">Lexus</option>
              <option value="Lotus">Lotus</option>
              <option value="Maserati">Maserati</option>
              <option value="Maybach">Maybach</option>
              <option value="Mazda">Mazda</option>
              <option value="Mercedes-benz">Mercedes-benz</option>
              <option value="Mini">Mini</option>
              <option value="Mitsubishi">Mitsubishi</option>
              <option value="Nissan">Nissan</option>
              <option value="Opel">Opel</option>
              <option value="Peugeot">Peugeot</option>
              <option value="Pontiac">Pontiac</option>
              <option value="Porsche">Porsche</option>
              <option value="Renault">Renault</option>
              <option value="Rolls">Rolls-royce</option>
              <option value="Rover">Rover</option>
              <option value="Saab">Saab</option>
              <option value="Seat">Seat</option>
              <option value="Smart">Smart</option>
              <option value="Subaru">Subaru</option>
              <option value="Suzuki">Suzuki</option>
              <option value="Škoda">Škoda</option>
              <option value="Toyota">Toyota</option>
              <option value="Trabant">Trabant</option>
              <option value="Volvo">Volvo</option>
              <option value="Volkswagen">Volkswagen</option>
              <option value="Wartburg">Wartburg</option>
              <option value="Zastava">Zastava</option>
            </select>
            <select id="izbira_modela" name="model">
              <option value="0">Izberite model</option>
            </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Delovna prostornina (ccm): </td>
          <td><input type="text" id="delovna_prostornina_statistika" placeholder="Npr.: 1.6"/></td>
        </tr>
        <tr>
          <td>Letnik izdelave: </td>
          <td><input type="text" id="letnik_izdelave_statistika" placeholder="Npr.: 2003"/></td>
        </tr>        
        <tr>
          <td>Izberite vrsto goriva: </td>
          <td>          
            <select id="izbira_goriva_statistika">
              <option value="0" selected>Izberite vrsto goriva</option>
              <option value="Avtoplin">Avtoplin</option>
              <option value="Bencin">Bencin</option>
              <option value="Diesel">Diesel</option>
            </select>
          </td>
        </tr>

      </tbody>
    </table>

    <p>
      <input type="reset" value="Ponastavi" id="gumbi_resiteraj_vnos_avtomobila"/>
      <input type="submit" value="Dodaj avtomobil" onclick="dodajAvtomobil()"/>
    </p>

  
  </div>     
  </form>  


</section>
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>