<script>
$(document).ready(function() {
  //vnesiRefill();
  narediIzracun();
});
</script>

<section class="izbiraVozila">
  <div id="vnos_podatkov">
    <form method = "post" autocomplete = "on" id="vnos_podatkov_forma">

    <h4>S pomočjo spodnjega obrazca vnesite podatke o polnjenju rezervoarja vašega avtomobila.</h4>
    <div class="izbiraVozilaBoxVnosPodatkov">

      <table id="vnos_podatkov_tabela">
        <tbody>
          <tr>
            <td>Izberite vaš avtomobil: </td>
            <td>
              <select id="izbira_obstojecega" onclick="izbiraObstojecega()">
                <option value="0" selected>Izberi avtomobil</option>
                <option value="1">BMW M3 - letnik 2005</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Izberite datum polnenja: </td>
            <td><input type="text" id="datepicker" /></td>
          </tr>
          <tr>
            <td>Izberite vrsto goriva: </td>
            <td>          
              <select id="izbiraGoriva">
                <option value="0" selected>Izberite vrsto goriva</option>
                <option value="1">Avtoplin</option>
                <option value="2">Bencin 95</option>
                <option value="3">Bencin 98</option>
                <option value="4">Diesel</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Cena za liter goriva: </td>
            <td><input type="text" id="cena_goriva" placeholder="Vnesite ceno npr.: 1.12"/></td>
          </tr>
          <tr>
            <td>Iztočeno litrov: </td>
            <td><input type="text" id="iztoceno_liter" placeholder="Vnesite litre npr.: 52.3"/></td>
          </tr>
          <tr>
            <td>Prevoženo kilometrov: </td>
            <td><input type="text" id="prevozeno_kilometrov" placeholder="Npr.: 680.2"/></td>
          </tr>
          <tr>
            <td>Dodatne opombe: </td>
            <td><label><textarea name="opombe" id="opombe_kvadratek" rows="3" cols="23"></textarea></label></td>
          </tr>
        </tbody>
      </table>

      <p id="gumbiVnosGoriva">
        <input type="submit" value="Vnesi podatke" id="gumbi_potrdi_vnos_goriva"/ onclick="vnesiRefill()">
        <input type="reset" value="Ponastavi" id="gumbi_resiteraj_vnos_goriva"/>
      </p>

      </div>
    <p class="manjsiTekst" id="niDodanegaAvtomobila">V kolikor vašega vozila še niste dodali v sistem lahko to storite v zavihku <a href="statistika.html">Moja statistika</a>.</p>
    </form>
  </div>
</section>
<footer class="manjsiTekstFooter">
  <p>Ustvaril: Ladislav Škufca, 2015</p>
  <p>Dodatne informacije: <a href="mailto:ls8856@student.uni-lj.si">e-pošta</a>, <a href="https://www.facebook.com/ladislav.skufca">Facebook</a>.</p>
</footer>
